<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
        <ion-list>
            <!-- " [routerLink]="['/','main','tabs','notice','detail',notice.listId]" -->
            <ion-item  *ngFor="let notice of loadedpages" (click)="onNoticeDetailPage(notice)"  detail>
              <ion-thumbnail slot="start">
                <ion-img src="../../assets/images/notice.png"></ion-img>
              </ion-thumbnail>

              <ion-label><h2>{{notice.listTitle}}</h2>
                <p>{{notice.listNotice}}</p>    

              </ion-label>
            </ion-item>
            </ion-list>
    </ion-col>
  </ion-row>

</ion-content>
