<ion-header no-border>
    <ion-toolbar color="secondary" [class.show-background]="showToolbar">
      <ion-title>
  <!-- Authntication -->
      </ion-title>
   
    </ion-toolbar>
  </ion-header>

<ion-content class="background" fullscreen no-padding>
  
  <div class="center" no-padding>
      <div><img src="assets/images/logo1.png" height=100px width="100px"></div>
    LOGIN
    </div>
    <div class="ion-text-center">
          <ion-button color="secondary" (click)="onLogin()"><div [ngStyle]="{color: '#049fd8'}">LOGIN</div></ion-button>
        </div>
</ion-content>
